* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f5f5f5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.logo h1 {
    font-size: 28px;
    font-family: 'Georgia', serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.logo a {
    text-decoration: none;
}

.logo a:hover h1 {
    color: #b87bf19a; /* Roxo suave ao passar o mouse */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #444;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #9a4ae5b4;
    color: #fff;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h3 {
    margin: 10px 0;
    font-size: 18px;
}

.produto p {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
}

/* Rodapé */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}